body {
  background-image: url("./bricks.jpeg");
  background-size: 300px;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

h1 {
  width: 278px;
  margin: 10px auto 60px;
}

h1::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: #cbec74 6px solid;
  position: relative;
  top: 10px;
}

h3 {
  margin-top: 20px;
  font-size: 1.3em;
  color: #cbec74;
  text-shadow: #d8f68d 1px 0 10px;
  width: auto;
  line-height: 36px;
  border-bottom: white 3px solid;
  text-transform: uppercase;
  font-weight: 100;
}

.logo {
  width: 200px;
  height: 200px;
}

.menu {
  margin: 0 0 30px;
  font-family: sans-serif;
  text-align: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  max-width: 600px;
  color: white;
}

.menu_position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: 1px dashed #444;
}

.underlineBox {
  border-bottom: 2px solid #444;
}

.positionNameBox {
  max-width: 80%;
}

.positionName {
  text-align: start;
  color: #bcbcbc;
  font-size: 14px;
}

.price {
  min-width: 80px;
  color: #cbec74;
  text-align: end;
}

.anotation {
  position: relative;
  height: 100px;
  width: 180px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #ccc;
  text-shadow: #fff 1px 0 10px;
  margin: 40px 0 30px 60px;
}

.anotation::before {
  content: "";
  display: block;
  width: 50px;
  border-bottom: #cbec74 5px solid;

  position: absolute;
  top: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
  padding: 0;
  color:#ccc; 
}

.footer {
  height: 100px;
  color: white;
  width: 80%;
  max-width: 600px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.9);
  white-space: pre;
}

.footer > div:first-child {
  margin-right: 20px;
}

.footer a {
  display: flex;
  align-items: center;
}

.footer img {
  margin-right: 10px;
}

.ico {
  width: 18px;
  height: 20px;
}

.emptySpace {
  height: 20px;
}
